body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    transform: translate3d(0, -30px, 0);
  }
  70% {
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

textarea::placeholder {
  color: #6b7280;
}

@keyframes glowShine {
  0% {
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.15));
  }
  50% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4)) 
            drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
  }
  100% {
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.15));
  }
}
